body {
  font-family: "Fjalla One", montserrat;
  padding-top: 54px;
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../img/bg.jpg);
  overflow-y: scroll;
  scroll-behavior: smooth;
  text-shadow: 2px 2px 4px black;
}

.bg-img {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
  .v{
    width: 16rem;  
  }
}
.navbar {
  font-family: "Fjalla One";
}
#sideNav .navbar-nav .nav-item .nav-link {
  text-align: center;
  text-transform: uppercase;
}
#sideNav .navbar-nav .nav-item .nav-link:hover {
  transition: 0.4s ease-in-out;
  color: white;
}
#sideNav .nav-item {
  font-size: 2rem;
}
.navbar-toggler-icon:hover {
  display: inline-block;
  background: no-repeat center center;
  background-size: 100% 100%;
  transition: 1s ease-in;
}
@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
    filter: drop-shadow(10px 10px 80px black);
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 30rem;
    border: 0rem;
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
    transition: 0.4s ease-in-out;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color: white;
  }
  #video{
    width: 50%;
  }
}
.bg-primary {
  background-color: black !important;
}
.text-primary {
  font-size: 3rem;
  color: white !important;
}
.heading {
  font-size: 5rem;
}
.text-w {
  color: white;
}
.text-b {
  color: black;
}
.text_grey {
  color: grey;
}
/* icons */
a {
  color: white;
  display: inline-block;
  padding-right: 1rem;
}

a:active,
a:focus,
a:hover {
  color: white;
}
/* para */
p {
  font-family: "Montserrat";
  color: white;
}
.lists {
  font-family: "Montserrat";
  color: white;
  padding-left: 1.5rem;
}
.sub-list {
  padding-right: 0.5rem;
}
p.sub-list-info {
  color: grey;
}
/*  */
/* footer in smaller devices */

@media (max-width: 992px) {
  body {
    box-shadow: 0 0 992px rgba(0, 0, 0, 0.9) inset;
    width: 100%;
    text-align: center;
  }
  .lists {
    text-align: left;
  }
  .body-text {
    text-align: center;
  }
  a:hover {
    color: black;
    transition: 0.4s ease-in-out;
  }
}
